*.pyc
__pycache__/

db.sqlite3

/venv/
/env/
/virtualenv/
/myenv/
/.venv/
/.env/
/.virtualenv/

.env
local_settings.py

/media/

*.log
*.pot
*.pyo
*.swp
*~
.cache/
.pytest_cache/

api_app/serviceAccountKey.json