asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
Django==5.0.3
django-filter==24.2
djangorestframework==3.15.1
drf-url-filters==0.5.1
idna==3.7
jwcrypto==1.5.6
oauthlib==3.2.2
pycparser==2.22
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
voluptuous==0.14.2
